  body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', arial;
}

ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  color: #E5E7EB;
  font-weight: normal;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 100px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    height: 72px;
    background-color: #1f2937;
    color: white;
}

.left {
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
}

.right-links {
  display: flex;
  margin-left: auto;
  padding: 0px 100px 0px 0px;  
}

/* main box */

.main-box {
  display: flex;
  color: white;
  background-color: #1F2937;
  align-items: center;
  justify-content: center;
  padding: 90px;
}

.text-box {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex-basis: 300px;
  margin-right: 50px;
}

.text-box h1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin: 0;
  font-family: 'Roboto', arial;
}

.right-image img {
  width: 500px;
  height: 350px;
}

.text-box button {
  display: block;
  text-align: center;
  width: 100px;
  border: none;
  background: #3882f6;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-decoration: none;
  font-weight: bold;
}

/* cards */

.card-box-master {
  /* display: flex; */
  align-items: center;
}

.card-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-box img {
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  margin: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-box-master h1 {
  text-align: center;
  font-weight: bold;
}

.card-box p {
  display: flex;
  font-family: 'Roboto', arial;
  justify-content: center;
}

.card-box div {
  padding: 15px;
  justify-content: center;
}

/* contact info */

.contact-info {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.contact-info h1 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-family: 'Roboto', arial;
}

.contact-info p {
  padding-bottom: 20px;
  padding-right: 10px;
  font-family: 'Roboto', arial;
  text-align: center;
}

/* interesting facts */

.fun-facts {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

.fun-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.fun-facts h1 {
  font-size: 32px;
  color: #fff;
  font-family: 'Roboto', arial;
  text-align: center;
  font-weight: bold;
}

.left-side {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin-left: 150px;
}

.right-side {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  margin-right: 150px;
}



/* footer */

.footer {
  font-size: 12px;
  align-items: center;
  text-align: center;
  background-color: #1F2937;
  color: #fff;
  font-family: 'Roboto', arial;
}


